In [37]:
import sys
sys.path.append("..")
import numpy as np
from project.ship import Ship
from project.tests import Tests
from project.botma import TMA
import time

In [38]:
# Класс для сохранения результатов
tests = Tests('test1')

# Создаем наблюдатель
observer_x, observer_y, observer_course, observer_velocity = 0, 0, 0, 5
observer = Ship('Наблюдатель', observer_x, observer_y, observer_course,
                observer_velocity, verbose=True)

In [39]:
# Моделирование траектории наблюдателя
observer.forward_movement(3 * 60)
observer.change_course(270, 'left', omega=0.5)
observer.forward_movement(5 * 60)
observer.change_course(90, 'right', omega=0.5)
observer.forward_movement(3 * 60)

Наблюдатель движется прямо по курсу 0.0° 180с
Наблюдатель перешёл на курс 270.0° за 180с
Наблюдатель движется прямо по курсу 270.0° 300с
Наблюдатель перешёл на курс 90.0° за 360с
Наблюдатель движется прямо по курсу 90.0° 180с

In [40]:
def target_func(seed=None):
    np.random.seed(seed)
    b = 0
    d = 10
    c = np.random.uniform(0, 180)
    v = np.random.uniform(3, 15)
    return [b, d, c, v]
p0 = [0., 25., 90., 7.]

In [41]:
tma = TMA(observer, sd=np.radians(0.), tau=2)
tma.print_verbose()
print('ММП v6')
start_time = time.perf_counter()
dict_results = tma.swarm(n=100, target_func=target_func, p0=p0, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.0, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.5 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,360.0,10.0,98.786,11.582,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.005,19,15
1,0,10,75.064,11.644,0.0,10.0,75.064,11.644,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.003,12,10
2,0,10,78.479,3.311,360.0,10.0,78.479,3.311,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.002,8,7
3,0,10,99.144,11.498,360.0,10.0,99.144,11.498,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.004,19,15
4,0,10,174.065,9.567,0.0,10.0,174.065,9.567,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.005,24,18

In [42]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('Nf = {:.0f}, Nf_max = {:.0f}'.format(df['Nf'].mean(), max(df['Nf'])))
print('Iter = {:.0f}, Iter_max = {:.0f}'.format(df['Iter'].mean(), max(df['Iter'])))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/ЛМ ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 100$, Рэф_мин = 1
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.00
Nf = 15, Nf_max = 27
Iter = 12, Iter_max = 21
t = 0.0031, t_max = 0.0057

In [43]:
tma = TMA(observer, sd=np.radians(0.1), tau=2)
tma.print_verbose()
print('ММП v6')
start_time = time.perf_counter()
dict_results = tma.swarm(n=100, target_func=target_func, p0=p0, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.1, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.7 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.990,9.978,98.689,11.570,1.571,25.0,...,0.003,0.040,0.064,0.015,0.009,0.011,"[1, 1, 1, 1]",0.005,29,21
1,0,10,75.064,11.644,359.965,10.054,75.108,11.744,1.571,25.0,...,0.003,0.032,0.051,0.012,0.010,0.040,"[1, 1, 1, 1]",0.005,27,19
2,0,10,78.479,3.311,0.012,10.007,78.653,3.305,1.571,25.0,...,0.002,0.014,0.013,0.013,0.010,0.013,"[1, 1, 1, 1]",0.004,23,16
3,0,10,99.144,11.498,0.019,9.979,99.210,11.450,1.571,25.0,...,0.003,0.040,0.063,0.015,0.010,0.020,"[1, 1, 1, 1]",0.007,29,21
4,0,10,174.065,9.567,359.987,10.004,174.043,9.572,1.571,25.0,...,0.001,0.012,0.004,0.015,0.009,0.006,"[1, 1, 1, 1]",0.004,20,17

In [44]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('Nf = {:.0f}, Nf_max = {:.0f}'.format(df['Nf'].mean(), max(df['Nf'])))
print('Iter = {:.0f}, Iter_max = {:.0f}'.format(df['Iter'].mean(), max(df['Iter'])))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/ЛМ ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 100$, Рэф_мин = 1
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.01
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0049, t_max = 0.0071

In [45]:
tma = TMA(observer, sd=np.radians(0.2), tau=2)
tma.print_verbose()
print('ММП v6')
start_time = time.perf_counter()
dict_results = tma.swarm(n=100, target_func=target_func, p0=p0, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.2, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.8 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.979,9.956,98.591,11.558,1.543,25.0,...,0.006,0.080,0.127,0.030,0.037,0.023,"[1, 1, 1, 1]",0.005,29,21
1,0,10,75.064,11.644,359.929,10.109,75.151,11.845,1.543,25.0,...,0.006,0.065,0.104,0.024,0.039,0.081,"[1, 1, 1, 1]",0.006,27,19
2,0,10,78.479,3.311,0.023,10.015,78.827,3.299,1.543,25.0,...,0.005,0.028,0.026,0.026,0.039,0.026,"[1, 1, 1, 1]",0.004,23,16
3,0,10,99.144,11.498,0.038,9.958,99.277,11.402,1.543,25.0,...,0.006,0.080,0.125,0.031,0.038,0.041,"[1, 1, 1, 1]",0.006,29,21
4,0,10,174.065,9.567,359.975,10.008,174.022,9.578,1.543,25.0,...,0.002,0.024,0.008,0.030,0.037,0.012,"[1, 1, 1, 1]",0.004,23,18

In [46]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('Nf = {:.0f}, Nf_max = {:.0f}'.format(df['Nf'].mean(), max(df['Nf'])))
print('Iter = {:.0f}, Iter_max = {:.0f}'.format(df['Iter'].mean(), max(df['Iter'])))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/ЛМ ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 100$, Рэф_мин = 1
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.04
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0049, t_max = 0.0081

In [47]:
tma = TMA(observer, sd=np.radians(0.3), tau=2)
tma.print_verbose()
print('ММП v6')
start_time = time.perf_counter()
dict_results = tma.swarm(n=100, target_func=target_func, p0=p0, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.3, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.7 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.969,9.934,98.494,11.546,1.544,25.0,...,0.008,0.120,0.190,0.045,0.084,0.034,"[1, 1, 1, 1]",0.005,29,21
1,0,10,75.064,11.644,359.894,10.165,75.195,11.946,1.544,25.0,...,0.009,0.098,0.158,0.036,0.088,0.122,"[1, 1, 1, 1]",0.006,27,19
2,0,10,78.479,3.311,0.035,10.022,79.002,3.293,1.544,25.0,...,0.007,0.043,0.040,0.039,0.089,0.039,"[1, 1, 1, 1]",0.004,23,16
3,0,10,99.144,11.498,0.057,9.938,99.344,11.354,1.544,25.0,...,0.008,0.119,0.187,0.046,0.086,0.061,"[1, 1, 1, 1]",0.007,29,21
4,0,10,174.065,9.567,359.962,10.013,174.000,9.583,1.544,25.0,...,0.003,0.037,0.012,0.045,0.082,0.018,"[1, 1, 1, 1]",0.006,23,18

In [48]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('Nf = {:.0f}, Nf_max = {:.0f}'.format(df['Nf'].mean(), max(df['Nf'])))
print('Iter = {:.0f}, Iter_max = {:.0f}'.format(df['Iter'].mean(), max(df['Iter'])))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/ЛМ ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 98$, Рэф_мин = 0
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.09
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0048, t_max = 0.0067

In [49]:
tma = TMA(observer, sd=np.radians(0.5), tau=2)
tma.print_verbose()
print('ММП v6')
start_time = time.perf_counter()
dict_results = tma.swarm(n=100, target_func=target_func, p0=p0, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.5, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.7 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.948,9.889,98.299,11.521,1.544,25.0,...,0.014,0.198,0.315,0.073,0.234,0.057,"[1, 1, 1, 1]",0.006,29,21
1,0,10,75.064,11.644,359.824,10.278,75.282,12.154,1.544,25.0,...,0.015,0.168,0.270,0.061,0.243,0.205,"[1, 1, 1, 1]",0.005,27,19
2,0,10,78.479,3.311,0.057,10.037,79.352,3.282,1.544,25.0,...,0.011,0.071,0.066,0.065,0.246,0.065,"[1, 1, 1, 1]",0.004,23,16
3,0,10,99.144,11.498,0.095,9.897,99.477,11.259,1.544,25.0,...,0.014,0.197,0.308,0.076,0.238,0.101,"[1, 1, 1, 1]",0.006,29,21
4,0,10,174.065,9.567,359.937,10.021,173.956,9.594,1.544,25.0,...,0.005,0.061,0.019,0.074,0.229,0.029,"[1, 1, 1, 1]",0.004,23,18

In [50]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('Nf = {:.0f}, Nf_max = {:.0f}'.format(df['Nf'].mean(), max(df['Nf'])))
print('Iter = {:.0f}, Iter_max = {:.0f}'.format(df['Iter'].mean(), max(df['Iter'])))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/ЛМ ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 96$, Рэф_мин = 0
Вариант 1: Рэф = 99$, Рэф_мин = 0
Вариант 2: Рэф = 99$, Рэф_мин = 0
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.25
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0048, t_max = 0.0066

In [51]:
tma = TMA(observer, sd=np.radians(1), tau=2)
tma.print_verbose()
print('ММП v6')
start_time = time.perf_counter()
dict_results = tma.swarm(n=100, target_func=target_func, p0=p0, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 1.0, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.7 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.895,9.779,97.811,11.459,1.544,25.0,...,0.028,0.388,0.623,0.141,0.937,0.114,"[1, 1, 1, 1]",0.005,29,21
1,0,10,75.064,11.644,359.648,10.573,75.498,12.694,1.544,25.0,...,0.031,0.359,0.579,0.127,0.972,0.420,"[0, 1, 1, 1]",0.005,27,19
2,0,10,78.479,3.311,0.114,10.074,80.233,3.254,1.544,25.0,...,0.023,0.142,0.132,0.130,0.984,0.128,"[1, 1, 1, 1]",0.006,23,16
3,0,10,99.144,11.498,0.190,9.794,99.812,11.025,1.544,25.0,...,0.027,0.384,0.598,0.151,0.952,0.201,"[1, 1, 1, 1]",0.005,29,21
4,0,10,174.065,9.567,359.874,10.043,173.846,9.622,1.544,25.0,...,0.010,0.123,0.039,0.150,0.915,0.059,"[1, 1, 1, 1]",0.005,23,18

In [52]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('Nf = {:.0f}, Nf_max = {:.0f}'.format(df['Nf'].mean(), max(df['Nf'])))
print('Iter = {:.0f}, Iter_max = {:.0f}'.format(df['Iter'].mean(), max(df['Iter'])))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/ЛМ ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 75$, Рэф_мин = 0
Вариант 1: Рэф = 96$, Рэф_мин = 0
Вариант 2: Рэф = 96$, Рэф_мин = 0
Вариант 3: Рэф = 98$, Рэф_мин = 0
Ка = 0.99
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0048, t_max = 0.0070

In [53]:
tma = TMA(observer, sd=np.radians(0.), tau=2)
tma.print_verbose()
algorithm_name = 'Метод N пеленгов'
print(algorithm_name)
start_time = time.perf_counter()
dict_results = tma.swarm(algorithm_name=algorithm_name,n=100, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.0, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.3 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,29.697,128.734,11.028,0.0,29.697,128.734,11.028,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,"[1, 1, 1, 1]",0.000,NaN,NaN
1,0,23.766,129.658,5.001,0.0,23.766,129.658,5.001,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,"[1, 1, 1, 1]",0.000,NaN,NaN
2,0,24.620,4.667,10.497,0.0,24.620,4.667,10.497,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,"[1, 1, 1, 1]",0.002,NaN,NaN
3,0,29.786,127.467,7.909,0.0,29.786,127.467,7.909,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,"[1, 1, 1, 1]",0.000,NaN,NaN
4,0,48.516,98.502,14.727,0.0,48.516,98.502,14.727,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,"[1, 1, 1, 1]",0.000,NaN,NaN

In [54]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/N ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 100$, Рэф_мин = 1
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.00
t = 0.0003, t_max = 0.0015

In [55]:
tma = TMA(observer, sd=np.radians(0.1), tau=2)
tma.print_verbose()
algorithm_name = 'Метод N пеленгов'
print(algorithm_name)
start_time = time.perf_counter()
dict_results = tma.swarm(algorithm_name=algorithm_name,n=100, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.1, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.3 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,29.697,128.734,11.028,359.824,30.265,125.650,11.273,NaN,NaN,...,NaN,NaN,NaN,NaN,0.012,0.209,"[1, 1, 1, 1]",0.000,NaN,NaN
1,0,23.766,129.658,5.001,359.838,23.897,122.984,4.921,NaN,NaN,...,NaN,NaN,NaN,NaN,0.011,0.257,"[0, 1, 1, 1]",0.000,NaN,NaN
2,0,24.620,4.667,10.497,0.042,24.774,4.619,9.803,NaN,NaN,...,NaN,NaN,NaN,NaN,0.010,0.187,"[0, 1, 1, 1]",0.000,NaN,NaN
3,0,29.786,127.467,7.909,359.821,30.030,122.644,7.922,NaN,NaN,...,NaN,NaN,NaN,NaN,0.013,0.183,"[1, 1, 1, 1]",0.000,NaN,NaN
4,0,48.516,98.502,14.727,359.995,46.843,98.936,14.095,NaN,NaN,...,NaN,NaN,NaN,NaN,0.009,0.177,"[1, 1, 1, 1]",0.001,NaN,NaN

In [56]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/N ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 69$, Рэф_мин = 0
Вариант 1: Рэф = 85$, Рэф_мин = 0
Вариант 2: Рэф = 85$, Рэф_мин = 0
Вариант 3: Рэф = 91$, Рэф_мин = 0
Ка = 0.01
t = 0.0003, t_max = 0.0007

In [57]:
tma = TMA(observer, sd=np.radians(0.2), tau=2)
tma.print_verbose()
algorithm_name = 'Метод N пеленгов'
print(algorithm_name)
start_time = time.perf_counter()
dict_results = tma.swarm(algorithm_name=algorithm_name,n=100, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.2, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.3 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,29.697,128.734,11.028,359.647,30.013,122.897,11.170,NaN,NaN,...,NaN,NaN,NaN,NaN,0.049,0.284,"[0, 1, 1, 1]",0.0,NaN,NaN
1,0,23.766,129.658,5.001,359.675,23.728,116.660,4.821,NaN,NaN,...,NaN,NaN,NaN,NaN,0.046,0.499,"[0, 0, 0, 0]",0.0,NaN,NaN
2,0,24.620,4.667,10.497,0.083,24.598,4.349,8.835,NaN,NaN,...,NaN,NaN,NaN,NaN,0.041,0.426,"[0, 0, 0, 0]",0.0,NaN,NaN
3,0,29.786,127.467,7.909,359.642,29.506,118.395,7.728,NaN,NaN,...,NaN,NaN,NaN,NaN,0.054,0.389,"[0, 1, 1, 1]",0.0,NaN,NaN
4,0,48.516,98.502,14.727,359.990,43.175,99.950,12.721,NaN,NaN,...,NaN,NaN,NaN,NaN,0.041,0.563,"[0, 0, 0, 1]",0.0,NaN,NaN

In [58]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/N ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 41$, Рэф_мин = 0
Вариант 1: Рэф = 66$, Рэф_мин = 0
Вариант 2: Рэф = 66$, Рэф_мин = 0
Вариант 3: Рэф = 74$, Рэф_мин = 0
Ка = 0.05
t = 0.0003, t_max = 0.0009

In [59]:
tma = TMA(observer, sd=np.radians(0.3), tau=2)
tma.print_verbose()
algorithm_name = 'Метод N пеленгов'
print(algorithm_name)
start_time = time.perf_counter()
dict_results = tma.swarm(algorithm_name=algorithm_name,n=100, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.3, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.3 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,29.697,128.734,11.028,359.471,28.877,120.468,10.676,NaN,NaN,...,NaN,NaN,NaN,NaN,0.120,0.465,"[0, 1, 1, 1]",0.0,NaN,NaN
1,0,23.766,129.658,5.001,359.513,23.240,110.803,4.681,NaN,NaN,...,NaN,NaN,NaN,NaN,0.108,0.790,"[0, 0, 0, 0]",0.0,NaN,NaN
2,0,24.620,4.667,10.497,0.125,24.127,3.785,7.660,NaN,NaN,...,NaN,NaN,NaN,NaN,0.095,0.762,"[0, 0, 0, 0]",0.0,NaN,NaN
3,0,29.786,127.467,7.909,359.463,28.216,114.723,7.309,NaN,NaN,...,NaN,NaN,NaN,NaN,0.129,0.730,"[0, 0, 0, 0]",0.0,NaN,NaN
4,0,48.516,98.502,14.727,359.985,38.482,101.578,10.973,NaN,NaN,...,NaN,NaN,NaN,NaN,0.103,1.063,"[0, 0, 0, 0]",0.0,NaN,NaN

In [60]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/N ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 24$, Рэф_мин = 0
Вариант 1: Рэф = 45$, Рэф_мин = 0
Вариант 2: Рэф = 45$, Рэф_мин = 0
Вариант 3: Рэф = 54$, Рэф_мин = 0
Ка = 0.11
t = 0.0003, t_max = 0.0005

In [61]:
tma = TMA(observer, sd=np.radians(0.4), tau=2)
tma.print_verbose()
algorithm_name = 'Метод N пеленгов'
print(algorithm_name)
start_time = time.perf_counter()
dict_results = tma.swarm(algorithm_name=algorithm_name,n=100, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.4, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.3 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,29.697,128.734,11.028,359.294,26.952,118.354,9.824,NaN,NaN,...,NaN,NaN,NaN,NaN,0.238,0.863,"[0, 0, 0, 0]",0.0,NaN,NaN
1,0,23.766,129.658,5.001,359.350,22.444,105.461,4.487,NaN,NaN,...,NaN,NaN,NaN,NaN,0.203,1.117,"[0, 0, 0, 0]",0.0,NaN,NaN
2,0,24.620,4.667,10.497,0.167,23.416,2.783,6.361,NaN,NaN,...,NaN,NaN,NaN,NaN,0.178,1.155,"[0, 0, 0, 0]",0.0,NaN,NaN
3,0,29.786,127.467,7.909,359.285,26.291,111.603,6.686,NaN,NaN,...,NaN,NaN,NaN,NaN,0.255,1.157,"[0, 0, 0, 0]",0.0,NaN,NaN
4,0,48.516,98.502,14.727,359.980,33.628,103.887,9.179,NaN,NaN,...,NaN,NaN,NaN,NaN,0.211,1.593,"[0, 0, 0, 0]",0.0,NaN,NaN

In [62]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/N ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 11$, Рэф_мин = 0
Вариант 1: Рэф = 26$, Рэф_мин = 0
Вариант 2: Рэф = 26$, Рэф_мин = 0
Вариант 3: Рэф = 41$, Рэф_мин = 0
Ка = 0.22
t = 0.0003, t_max = 0.0007

In [63]:
tma = TMA(observer, sd=np.radians(0.5), tau=2)
tma.print_verbose()
algorithm_name = 'Метод N пеленгов'
print(algorithm_name)
start_time = time.perf_counter()
dict_results = tma.swarm(algorithm_name=algorithm_name,n=100, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 0.5, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.3 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,29.697,128.734,11.028,359.118,24.468,116.543,8.707,NaN,NaN,...,NaN,NaN,NaN,NaN,0.430,1.345,"[0, 0, 0, 0]",0.0,NaN,NaN
1,0,23.766,129.658,5.001,359.188,21.376,100.624,4.233,NaN,NaN,...,NaN,NaN,NaN,NaN,0.341,1.481,"[0, 0, 0, 0]",0.0,NaN,NaN
2,0,24.620,4.667,10.497,0.208,22.527,1.064,5.023,NaN,NaN,...,NaN,NaN,NaN,NaN,0.298,1.587,"[0, 0, 0, 0]",0.0,NaN,NaN
3,0,29.786,127.467,7.909,359.106,23.946,108.998,5.918,NaN,NaN,...,NaN,NaN,NaN,NaN,0.453,1.641,"[0, 0, 0, 0]",0.0,NaN,NaN
4,0,48.516,98.502,14.727,359.975,29.136,106.974,7.539,NaN,NaN,...,NaN,NaN,NaN,NaN,0.383,2.104,"[0, 0, 0, 0]",0.0,NaN,NaN

In [64]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/N ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 5$, Рэф_мин = 0
Вариант 1: Рэф = 18$, Рэф_мин = 0
Вариант 2: Рэф = 18$, Рэф_мин = 0
Вариант 3: Рэф = 25$, Рэф_мин = 0
Ка = 0.38
t = 0.0003, t_max = 0.0006

In [65]:
tma = TMA(observer, sd=np.radians(1), tau=2)
tma.print_verbose()
algorithm_name = 'Метод N пеленгов'
print(algorithm_name)
start_time = time.perf_counter()
dict_results = tma.swarm(algorithm_name=algorithm_name,n=100, seeded=True)
stop_time = time.perf_counter()
print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
df = tests.get_df(dict_results)
df.head().round(3)

СКОп = 1.0, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.3 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,29.697,128.734,11.028,358.236,11.953,112.267,2.892,NaN,NaN,...,NaN,NaN,NaN,NaN,4.865,3.693,"[0, 0, 0, 0]",0.0,NaN,NaN
1,0,23.766,129.658,5.001,358.376,14.282,80.958,2.346,NaN,NaN,...,NaN,NaN,NaN,NaN,2.372,3.616,"[0, 0, 0, 0]",0.0,NaN,NaN
2,0,24.620,4.667,10.497,0.417,17.216,253.068,0.967,NaN,NaN,...,NaN,NaN,NaN,NaN,1.958,5.665,"[0, 0, 0, 0]",0.0,NaN,NaN
3,0,29.786,127.467,7.909,358.211,12.563,102.640,1.989,NaN,NaN,...,NaN,NaN,NaN,NaN,4.420,3.903,"[0, 0, 0, 0]",0.0,NaN,NaN
4,0,48.516,98.502,14.727,359.949,15.117,138.492,2.892,NaN,NaN,...,NaN,NaN,NaN,NaN,3.311,4.169,"[0, 0, 0, 0]",0.0,NaN,NaN

In [66]:
print('Показатели Монте-Карло:')
for i in range(4):
    a = df['Точ'].apply(lambda x: x[i])
    print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
print('Ка = {:.2f}'.format(df['Ка'].mean()))
print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
tests.save_df(df, name='tests/tests8/N ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')

Показатели Монте-Карло:
Вариант 0: Рэф = 0$, Рэф_мин = 0
Вариант 1: Рэф = 0$, Рэф_мин = 0
Вариант 2: Рэф = 0$, Рэф_мин = 0
Вариант 3: Рэф = 2$, Рэф_мин = 0
Ка = 55.17
t = 0.0003, t_max = 0.0007