In [1]:
import sys
sys.path.append("..")
import numpy as np
from project.ship import Ship
from project.tests import Tests
from project.botma import TMA
import time

In [2]:
# Класс для сохранения результатов
tests = Tests('test1')

# Создаем наблюдатель
observer_x, observer_y, observer_course, observer_velocity = 0, 0, 0, 5
observer = Ship('Наблюдатель', observer_x, observer_y, observer_course,
                observer_velocity, verbose=True)

In [3]:
# Моделирование траектории наблюдателя
observer.forward_movement(3 * 60)
observer.change_course(270, 'left', omega=0.5)
observer.forward_movement(5 * 60)
observer.change_course(90, 'right', omega=0.5)
observer.forward_movement(3 * 60)

Наблюдатель движется прямо по курсу 0.0° 180с
Наблюдатель перешёл на курс 270.0° за 180с
Наблюдатель движется прямо по курсу 270.0° 300с
Наблюдатель перешёл на курс 90.0° за 360с
Наблюдатель движется прямо по курсу 90.0° 180с

In [4]:
def target_func(seed=None):
    np.random.seed(seed)
    b = 0
    d = 10
    c = np.random.uniform(0, 180)
    v = np.random.uniform(3, 15)
    return [b, d, c, v]
p0 = [0., 25., 90., 7.]
std_arr = [0., 0.1, 0.2, 0.3, 0.5, 1.]

In [5]:
print('_______________________________________________________')
for std in std_arr:
    tma = TMA(observer, sd=np.radians(std), tau=2)
    tma.print_verbose()
    print('ММП v6')
    start_time = time.perf_counter()
    dict_results = tma.swarm(n=100, target_func=target_func, p0=p0, seeded=True)
    stop_time = time.perf_counter()
    print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
    df = tests.get_df(dict_results)
    display(df.head().round(3))
    print('Показатели Монте-Карло:')
    for i in range(4):
        a = df['Точ'].apply(lambda x: x[i])
        print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
    print('Ка = {:.2f}'.format(df['Ка'].mean()))
    print('Nf = {:.0f}, Nf_max = {:.0f}'.format(df['Nf'].mean(), max(df['Nf'])))
    print('Iter = {:.0f}, Iter_max = {:.0f}'.format(df['Iter'].mean(), max(df['Iter'])))
    print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
    tests.save_df(df, name='../tests/tests8/ЛМ ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')
    print('_______________________________________________________')

_______________________________________________________
СКОп = 0.0, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.6 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,360.0,10.0,98.786,11.582,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.005,19,15
1,0,10,75.064,11.644,0.0,10.0,75.064,11.644,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.003,12,10
2,0,10,78.479,3.311,360.0,10.0,78.479,3.311,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.002,8,7
3,0,10,99.144,11.498,360.0,10.0,99.144,11.498,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.005,19,15
4,0,10,174.065,9.567,0.0,10.0,174.065,9.567,0.0,25.0,...,0.0,0.0,0.0,0.0,0.0,0.0,"[1, 1, 1, 1]",0.005,24,18

Показатели Монте-Карло:
Вариант 0: Рэф = 100$, Рэф_мин = 1
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.00
Nf = 15, Nf_max = 27
Iter = 12, Iter_max = 21
t = 0.0032, t_max = 0.0061
_______________________________________________________
СКОп = 0.1, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.8 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.990,9.978,98.689,11.570,1.571,25.0,...,0.003,0.040,0.064,0.015,0.009,0.011,"[1, 1, 1, 1]",0.005,29,21
1,0,10,75.064,11.644,359.965,10.054,75.108,11.744,1.571,25.0,...,0.003,0.032,0.051,0.012,0.010,0.040,"[1, 1, 1, 1]",0.005,27,19
2,0,10,78.479,3.311,0.012,10.007,78.653,3.305,1.571,25.0,...,0.002,0.014,0.013,0.013,0.010,0.013,"[1, 1, 1, 1]",0.004,23,16
3,0,10,99.144,11.498,0.019,9.979,99.210,11.450,1.571,25.0,...,0.003,0.040,0.063,0.015,0.010,0.020,"[1, 1, 1, 1]",0.006,29,21
4,0,10,174.065,9.567,359.987,10.004,174.043,9.572,1.571,25.0,...,0.001,0.012,0.004,0.015,0.009,0.006,"[1, 1, 1, 1]",0.004,20,17

Показатели Монте-Карло:
Вариант 0: Рэф = 100$, Рэф_мин = 1
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.01
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0050, t_max = 0.0076
_______________________________________________________
СКОп = 0.2, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.8 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.979,9.956,98.591,11.558,1.543,25.0,...,0.006,0.080,0.127,0.030,0.037,0.023,"[1, 1, 1, 1]",0.006,29,21
1,0,10,75.064,11.644,359.929,10.109,75.151,11.845,1.543,25.0,...,0.006,0.065,0.104,0.024,0.039,0.081,"[1, 1, 1, 1]",0.005,27,19
2,0,10,78.479,3.311,0.023,10.015,78.827,3.299,1.543,25.0,...,0.005,0.028,0.026,0.026,0.039,0.026,"[1, 1, 1, 1]",0.004,23,16
3,0,10,99.144,11.498,0.038,9.958,99.277,11.402,1.543,25.0,...,0.006,0.080,0.125,0.031,0.038,0.041,"[1, 1, 1, 1]",0.005,29,21
4,0,10,174.065,9.567,359.975,10.008,174.022,9.578,1.543,25.0,...,0.002,0.024,0.008,0.030,0.037,0.012,"[1, 1, 1, 1]",0.007,23,18

Показатели Монте-Карло:
Вариант 0: Рэф = 100$, Рэф_мин = 1
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.04
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0050, t_max = 0.0074
_______________________________________________________
СКОп = 0.3, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.8 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.969,9.934,98.494,11.546,1.544,25.0,...,0.008,0.120,0.190,0.045,0.084,0.034,"[1, 1, 1, 1]",0.006,29,21
1,0,10,75.064,11.644,359.894,10.165,75.195,11.946,1.544,25.0,...,0.009,0.098,0.158,0.036,0.088,0.122,"[1, 1, 1, 1]",0.006,27,19
2,0,10,78.479,3.311,0.035,10.022,79.002,3.293,1.544,25.0,...,0.007,0.043,0.040,0.039,0.089,0.039,"[1, 1, 1, 1]",0.004,23,16
3,0,10,99.144,11.498,0.057,9.938,99.344,11.354,1.544,25.0,...,0.008,0.119,0.187,0.046,0.086,0.061,"[1, 1, 1, 1]",0.007,29,21
4,0,10,174.065,9.567,359.962,10.013,174.000,9.583,1.544,25.0,...,0.003,0.037,0.012,0.045,0.082,0.018,"[1, 1, 1, 1]",0.005,23,18

Показатели Монте-Карло:
Вариант 0: Рэф = 98$, Рэф_мин = 0
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.09
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0050, t_max = 0.0067
_______________________________________________________
СКОп = 0.5, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.8 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.948,9.889,98.299,11.521,1.544,25.0,...,0.014,0.198,0.315,0.073,0.234,0.057,"[1, 1, 1, 1]",0.006,29,21
1,0,10,75.064,11.644,359.824,10.278,75.282,12.154,1.544,25.0,...,0.015,0.168,0.270,0.061,0.243,0.205,"[1, 1, 1, 1]",0.005,27,19
2,0,10,78.479,3.311,0.057,10.037,79.352,3.282,1.544,25.0,...,0.011,0.071,0.066,0.065,0.246,0.065,"[1, 1, 1, 1]",0.004,23,16
3,0,10,99.144,11.498,0.095,9.897,99.477,11.259,1.544,25.0,...,0.014,0.197,0.308,0.076,0.238,0.101,"[1, 1, 1, 1]",0.007,29,21
4,0,10,174.065,9.567,359.937,10.021,173.956,9.594,1.544,25.0,...,0.005,0.061,0.019,0.074,0.229,0.029,"[1, 1, 1, 1]",0.005,23,18

Показатели Монте-Карло:
Вариант 0: Рэф = 96$, Рэф_мин = 0
Вариант 1: Рэф = 99$, Рэф_мин = 0
Вариант 2: Рэф = 99$, Рэф_мин = 0
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.25
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0049, t_max = 0.0067
_______________________________________________________
СКОп = 1.0, tau = 2
ММП v6
Моделирование 100 результатов закончено за t = 2.8 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,П0_апр,Д0_апр,...,СКО X,СКО Y,СКО VX,СКО VY,Ка,Кб,Точ,t,Nf,Iter
0,0,10,98.786,11.582,359.895,9.779,97.811,11.459,1.544,25.0,...,0.028,0.388,0.623,0.141,0.937,0.114,"[1, 1, 1, 1]",0.005,29,21
1,0,10,75.064,11.644,359.648,10.573,75.498,12.694,1.544,25.0,...,0.031,0.359,0.579,0.127,0.972,0.420,"[0, 1, 1, 1]",0.005,27,19
2,0,10,78.479,3.311,0.114,10.074,80.233,3.254,1.544,25.0,...,0.023,0.142,0.132,0.130,0.984,0.128,"[1, 1, 1, 1]",0.005,23,16
3,0,10,99.144,11.498,0.190,9.794,99.812,11.025,1.544,25.0,...,0.027,0.384,0.598,0.151,0.952,0.201,"[1, 1, 1, 1]",0.005,29,21
4,0,10,174.065,9.567,359.874,10.043,173.846,9.622,1.544,25.0,...,0.010,0.123,0.039,0.150,0.915,0.059,"[1, 1, 1, 1]",0.005,23,18

Показатели Монте-Карло:
Вариант 0: Рэф = 75$, Рэф_мин = 0
Вариант 1: Рэф = 96$, Рэф_мин = 0
Вариант 2: Рэф = 96$, Рэф_мин = 0
Вариант 3: Рэф = 98$, Рэф_мин = 0
Ка = 0.99
Nf = 25, Nf_max = 31
Iter = 18, Iter_max = 23
t = 0.0050, t_max = 0.0076
_______________________________________________________

In [6]:
print('_______________________________________________________')
for std in std_arr:
    tma = TMA(observer, sd=np.radians(std), tau=2)
    tma.print_verbose()
    algorithm_name = 'Метод N пеленгов'
    print(algorithm_name)
    start_time = time.perf_counter()
    dict_results = tma.swarm(n=100, algorithm_name=algorithm_name, target_func=target_func, p0=p0, seeded=True)
    stop_time = time.perf_counter()
    print('Моделирование 100 результатов закончено за t = {:.1f} с'.format(stop_time - start_time))
    df = tests.get_df(dict_results)
    display(df.dropna(axis=1).head().round(3))
    print('Показатели Монте-Карло:')
    for i in range(4):
        a = df['Точ'].apply(lambda x: x[i])
        print('Вариант {}: Рэф = {:.0f}$, Рэф_мин = {:.0f}'.format(i, 100 * a.mean(), min(a)))
    print('Ка = {:.2f}'.format(df['Ка'].mean()))
    print('t = {:.4f}, t_max = {:.4f}'.format(df['t'].mean(), max(df['t'])))
    tests.save_df(df, name='../tests/tests8/N ' + str(np.degrees(tma.standart_deviation)) + '.xlsx')
    print('_______________________________________________________')

_______________________________________________________
СКОп = 0.0, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.4 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,Ка,Кб,Точ,t
0,0,10,98.786,11.582,0.0,10.0,98.786,11.582,0.0,0.0,"[1, 1, 1, 1]",0.0
1,0,10,75.064,11.644,0.0,10.0,75.064,11.644,0.0,0.0,"[1, 1, 1, 1]",0.0
2,0,10,78.479,3.311,0.0,10.0,78.479,3.311,0.0,0.0,"[1, 1, 1, 1]",0.0
3,0,10,99.144,11.498,0.0,10.0,99.144,11.498,0.0,0.0,"[1, 1, 1, 1]",0.0
4,0,10,174.065,9.567,0.0,10.0,174.065,9.567,0.0,0.0,"[1, 1, 1, 1]",0.0

Показатели Монте-Карло:
Вариант 0: Рэф = 100$, Рэф_мин = 1
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.00
t = 0.0003, t_max = 0.0010
_______________________________________________________
СКОп = 0.1, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.4 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,Ка,Кб,Точ,t
0,0,10,98.786,11.582,359.824,10.091,98.549,11.834,0.011,0.120,"[1, 1, 1, 1]",0.0
1,0,10,75.064,11.644,359.838,10.088,74.994,11.897,0.011,0.111,"[1, 1, 1, 1]",0.0
2,0,10,78.479,3.311,0.042,9.993,78.950,3.272,0.010,0.053,"[1, 1, 1, 1]",0.0
3,0,10,99.144,11.498,359.821,10.144,99.061,11.807,0.012,0.138,"[1, 1, 1, 1]",0.0
4,0,10,174.065,9.567,359.995,9.987,174.073,9.550,0.009,0.008,"[1, 1, 1, 1]",0.0

Показатели Монте-Карло:
Вариант 0: Рэф = 98$, Рэф_мин = 0
Вариант 1: Рэф = 100$, Рэф_мин = 1
Вариант 2: Рэф = 100$, Рэф_мин = 1
Вариант 3: Рэф = 100$, Рэф_мин = 1
Ка = 0.01
t = 0.0003, t_max = 0.0016
_______________________________________________________
СКОп = 0.2, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.4 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,Ка,Кб,Точ,t
0,0,10,98.786,11.582,359.647,10.034,98.207,11.863,0.048,0.169,"[1, 1, 1, 1]",0.0
1,0,10,75.064,11.644,359.675,10.075,74.824,12.000,0.045,0.176,"[1, 1, 1, 1]",0.0
2,0,10,78.479,3.311,0.083,9.962,79.405,3.216,0.040,0.122,"[1, 1, 1, 1]",0.0
3,0,10,99.144,11.498,359.642,10.128,98.864,11.876,0.051,0.200,"[1, 1, 1, 1]",0.0
4,0,10,174.065,9.567,359.990,9.950,174.105,9.503,0.037,0.029,"[1, 1, 1, 1]",0.0

Показатели Монте-Карло:
Вариант 0: Рэф = 81$, Рэф_мин = 0
Вариант 1: Рэф = 98$, Рэф_мин = 0
Вариант 2: Рэф = 98$, Рэф_мин = 0
Вариант 3: Рэф = 99$, Рэф_мин = 0
Ка = 0.04
t = 0.0003, t_max = 0.0007
_______________________________________________________
СКОп = 0.3, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.4 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,Ка,Кб,Точ,t
0,0,10,98.786,11.582,359.471,9.824,97.750,11.656,0.113,0.203,"[0, 1, 1, 1]",0.0
1,0,10,75.064,11.644,359.513,9.956,74.547,11.941,0.104,0.206,"[1, 1, 1, 1]",0.0
2,0,10,78.479,3.311,0.125,9.908,79.848,3.146,0.090,0.206,"[1, 1, 1, 1]",0.0
3,0,10,99.144,11.498,359.463,9.941,98.542,11.685,0.123,0.200,"[0, 1, 1, 1]",0.0
4,0,10,174.065,9.567,359.985,9.889,174.162,9.427,0.085,0.061,"[1, 1, 1, 1]",0.0

Показатели Монте-Карло:
Вариант 0: Рэф = 55$, Рэф_мин = 0
Вариант 1: Рэф = 86$, Рэф_мин = 0
Вариант 2: Рэф = 86$, Рэф_мин = 0
Вариант 3: Рэф = 97$, Рэф_мин = 0
Ка = 0.10
t = 0.0003, t_max = 0.0007
_______________________________________________________
СКОп = 0.5, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.4 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,Ка,Кб,Точ,t
0,0,10,98.786,11.582,359.118,8.998,96.438,10.600,0.368,0.658,"[0, 0, 1, 1]",0.0
1,0,10,75.064,11.644,359.188,9.409,73.641,11.342,0.320,0.402,"[0, 1, 1, 1]",0.0
2,0,10,78.479,3.311,0.208,9.737,80.711,2.963,0.257,0.414,"[0, 0, 0, 1]",0.0
3,0,10,99.144,11.498,359.106,9.091,97.456,10.565,0.404,0.620,"[0, 1, 1, 1]",0.0
4,0,10,174.065,9.567,359.975,9.700,174.352,9.190,0.243,0.162,"[1, 1, 1, 1]",0.0

Показатели Монте-Карло:
Вариант 0: Рэф = 5$, Рэф_мин = 0
Вариант 1: Рэф = 44$, Рэф_мин = 0
Вариант 2: Рэф = 47$, Рэф_мин = 0
Вариант 3: Рэф = 71$, Рэф_мин = 0
Ка = 0.31
t = 0.0003, t_max = 0.0014
_______________________________________________________
СКОп = 1.0, tau = 2
Метод N пеленгов
Моделирование 100 результатов закончено за t = 2.4 с

,П0_ист,Д0_ист,К0_ист,V0_ист,П0_расч,Д0_расч,К0_расч,V0_расч,Ка,Кб,Точ,t
0,0,10,98.786,11.582,358.236,5.952,89.653,6.270,2.673,2.491,"[0, 0, 0, 0]",0.0
1,0,10,75.064,11.644,358.376,6.952,68.707,8.028,2.008,1.849,"[0, 0, 0, 0]",0.0
2,0,10,78.479,3.311,0.417,9.019,82.938,2.326,1.137,1.123,"[0, 0, 0, 0]",0.0
3,0,10,99.144,11.498,358.211,5.770,90.515,5.792,3.197,2.609,"[0, 0, 0, 0]",0.0
4,0,10,174.065,9.567,359.949,8.908,175.292,8.203,1.111,0.582,"[0, 0, 0, 1]",0.0

Показатели Монте-Карло:
Вариант 0: Рэф = 0$, Рэф_мин = 0
Вариант 1: Рэф = 1$, Рэф_мин = 0
Вариант 2: Рэф = 1$, Рэф_мин = 0
Вариант 3: Рэф = 3$, Рэф_мин = 0
Ка = 1.75
t = 0.0003, t_max = 0.0018
_______________________________________________________